/* CSS declarations go here */
// @import "scheme.lessimport";
@import "packages/bootstrap3-less/bootstrap.lessimport";
// @import "1pxdeep.lessimport";

body {
  background-image: url(/img/bg.jpg);
  background-attachment:fixed;
  background-position:center center;
  background-repeat:no-repeat
}

a.logo {
  background: url('/img/logo-white.png');
  display: block;
  width: 100px;
  height: 56px;
}
h3.text-muted a {
  color: #999999;
  text-decoration: none;
}
#login-buttons {
  margin-top: 13px;
}
img.img-thumbnail-40 {
  height: 50px;
}

.edit-inline {
  width: 100%;
}