/* CSS declarations go here */
// @import "scheme.lessimport";
@import "packages/bootstrap3-less/bootstrap.lessimport";
// @import "1pxdeep.lessimport";

body {
  background-image: url(/img/bg.jpg);
  background-attachment:fixed;
  background-position:center center;
  background-repeat:no-repeat
}
form#suggest {
  width: 50%;
}

img.img-thumbnail-40 {
  height: 50px;
}