<template name='about'>
  <div>
    <h1>About Reversim Summit 2014</h1>
    <p class="lead">
      <a href='http://reversim.com/'>Reversim</a> (רברס עם פלטפורמה) is a Hebrew podcast by <a href='https://twitter.com/orilahav'>Ori Lahav</a> and <a href='http://tavory.com/'>Ran Tavory</a> which brings together software developers and product managers, with over 190 recorded episodes over five years and a few k listners.</p>
    <p>
      The summit is our intention to create <strong>a conference for developers by developers</strong>. Like in the podcast, we bring you the content we are interested in, and we hope you will be too.
    </p>
    <p>
      This is the second year of this summit. See <a href='http://summit2013.reversim.com/'>Reversim Summit 2013</a> for the previous event.
    </p>
  </div>

  <div class="row marketing">
    <h2>Who's behind this?</h2>
    <div class="col-lg-6">
      <h4>Ori Lahav</h4>
      <p>
        Ori Lahav is a Co-founder and CTO of outbrain and The Voice™ at reversim. Ori like paddling his kayak through rough seas and sail a yacht when storms are out.
      </p>
    </div>

    <div class="col-lg-6">
      <h4>Ran Tavory</h4>
      <p>
        Ran is a full stack developer and The Voice™, at reversim. Ran's interests are in slick and responsive web interfaces, nosql, web infrastructure, scaling, deployment automation, continuous deployment, programming languages, open source enthusiast (a contributor and creator of several projects). Ran is a drummer at will, a husband and a father of two.
      </p>
    </div>
  </div>
</template>