<template name='agenda'>
  {{#if canSee}}
    <h1>Agenda</h1>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th colspan='5' class='text-center'><h2>Day 1 (Feb 24)</h2></th>
        </tr>
        <tr>
          <th>Time</th>
          <th>Class 1</th>
          <th>Class 2</th>
          <th>Class 3</th>
        </tr>
      </thead>
      <tbody>
        {{#each day1}}
          {{> agendaItem}}
        {{/each}}
      </tbody>
      <thead>
        <tr>
          <th colspan='5' class='text-center'><h2>Day 2 (Feb 25)</h2></th>
        </tr>
      </thead>
      <tbody>
        {{#each day2}}
          {{> agendaItem}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if canEdit}}
    <form class="form-inline" role="form" id='add-form'>
      <div class="form-group">
        <label class="sr-only"  for="time">Time</label>
        <input class="form-control" id="time" placeholder="Time and Date" value="02/24/14 09:00:00">
      </div>
      <div class="form-group">
        <label class="sr-only"  for="class1">Class 1</label>
        <input class="form-control" id="class1" placeholder="Class 1">
      </div>
      <div class="form-group">
        <label class="sr-only"  for="class2">Class 2</label>
        <input class="form-control" id="class2" placeholder="Class 2">
      </div>
      <div class="form-group">
        <label class="sr-only"  for="class3">Class 3</label>
        <input class="form-control" id="class3" placeholder="Class 3">
      </div>
      <div class="form-group">
        <label class="sr-only"  for="class3">icon</label>
        <input class="form-control" id="icon" placeholder="fa-key">
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
    <hr/>
    <button class="btn btn-warning" id='edit'>Edit</button>
  {{/if}}
</template>