  <template name='agendaSessionDisplay'>
    {{#each splits}}
      {{#if isSession}}
        {{#with session}}
          <div class="media clearfix">
            {{#each speakers}}
              <a class="pull-left" href="{{pathFor 'speaker'}}">
                <img src='{{photo .}}' class='img-thumbnail img-thumbnail-40' data-toggle="tooltip" title="{{name}}"/>
              </a>
            {{/each}}
            <div class="media-body">
              <div class="media-heading">
                <a href='{{pathFor "proposal"}}'>{{title}}</a>
              </div>
            </div>
          </div>
        {{/with}}
      {{else}}
        <div class='clearfix'>
          {{.}}
          {{#if hallOfShame}}
            <img src='{{staticImg "/img/hall_shame.png"}}' class='img-circle pull-right'>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </template>