<template name='agendaItem'>
  <tr>
    <td>
      {{formatTime time}}
    {{#if editing}}
      <input class='form-control time' value='{{time}}'/>
    {{/if}}
    </td>
    <td colspan='{{class1Colspan}}'>
      {{#if icon1}}
        <i class="fa fa-{{icon1}} fa-3x pull-right"></i>
      {{/if}}
      {{#with class1}}
        {{> agendaSessionDisplay}}
      {{/with}}
      {{#if editing}}
        <input class='form-control class1' value='{{class1}}'/>
        <input class='form-control icon1' value='{{icon1}}' placeholder='icon'/>
      {{/if}}
    </td>
    {{#if class2}}
      <td>
        {{#if icon2}}
          <i class="fa fa-{{icon2}} fa-3x pull-right"></i>
        {{/if}}
        {{#with class2}}
          {{> agendaSessionDisplay}}
        {{/with}}
        {{#if editing}}
          <input class='form-control class2' value='{{class2}}'/>
          <input class='form-control icon2' value='{{icon2}}' placeholder='icon'/>
        {{/if}}
      </td>
    {{/if}}
    {{#if class3}}
      <td>
        {{#if icon3}}
          <i class="fa fa-{{icon3}} fa-3x pull-right"></i>
        {{/if}}
        {{#with class3}}
          {{> agendaSessionDisplay}}
        {{/with}}
        {{#if editing}}
          <input class='form-control class3' value='{{class3}}'/>
          <input class='form-control icon3' value='{{icon3}}' placeholder='icon'/>
        {{/if}}
      </td>
    {{/if}}
    {{#if editing}}
      <td>
        <button class='btn btn-danger btn-sm del'>Delete</button>
      </td>
    {{/if}}
  </tr>
</template>