<template name='coc'>
  <h1>Reversim 2014 Code of Conduct</h1>
  <p class='lead'><strong>tl;dr: Don’t be a Jerk</strong></p>
  <h2>The Quick Version</h2>
  <p>
    Reversim Summit 2014 is dedicated to providing a harassment-free conference experience for everyone.
    We do not tolerate harassment of conference participants in any form.
    Sexual language and imagery is not appropriate for any conference venue, including talks.
    Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.
  </p>
  <h2>The Long Version</h2>
  <p>See <a href='http://confcodeofconduct.com/'>http://confcodeofconduct.com/</a></p>
</template>