<template name='footer'>
<div class="footer">
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <a href='http://reversim.com'>&copy; reversim 2013</a>
        <a class='no-underline' href="https://twitter.com/reversim">
          <i class='icon-twitter icon-1x'></i>
        </a>
        <a class='no-underline' href="https://groups.google.com/forum/#!forum/reversim-summit">
          <i class='icon-group icon-1x'></i>
        </a>
      </div>
    </div>
  </div>
</div>
</template>
