<template name='footer'>
<div class="footer">
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <a href='http://reversim.com'>&copy; reversim 2013</a>
        <a class='no-underline' href="https://twitter.com/reversim">
          <i class='fa fa-twitter fa-1x'></i>
        </a>
        <a class='no-underline' href="https://groups.google.com/forum/#!forum/reversim-summit">
          <i class='fa fa-group fa-1x'></i>
        </a>
        <div class='pull-right built-with'>
          <small>
            Built with <a href='http://devdev.io/tool/JDYjKfzX2c4czMuRA/MeteorJS'>MeteorJS</a>, <a href='http://devdev.io/tool/LZvDtsq3bXySNWEuZ/TwitterBootstrap'>Bootstrap</a>, <a href='http://devdev.io/tool/LN4h97hJ8n6udBRq7/FontAwesome'>FontAwesome</a>, <a href='http://devdev.io/tool/kXx7bYJQaoXTDJ2T3/Alertify'>Alertify</a>, <a href='http://devdev.io/tool/cj5cRr5DcEBKmAMRC/CoffeeScript'>CoffeeScript</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
