<template name='home'>
  <div>
    <h2>Voting is open</h2>
    <p class='lead'>
        Voting is now open. <a href="/vote" class="btn btn-lg btn-info">Vote here</a>
    </p>
    <h2>Save the date</h2>
    <p class="lead">Feb 24, 25 2014</p>
    <p>
      Registration will open about one month before the event and after the agenda is finalized.
      Until them you may
      <a class="btn btn-success" href="https://twitter.com/reversim">
        <i class='icon-twitter icon-1x'></i> Follow us on Twitter
      </a>
      or
      <a class="btn btn-success" href="https://groups.google.com/forum/#!forum/reversim-summit">
        <i class='icon-group icon-1x'></i> Join our Group
      </a>
      to get notified
    </p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Topics</h4>
      <p>
        You can get a good sense of the topics we're interested in from last year's website <a href='http://summit2013.reversim.com'>Reversim Summit 2013</a>
      </p>
      <p>
        Apart from that, here's a good grocery list of topics just to give you ideas.
        We're interested in everything including software development,
        software product development, UX, startups mobile, web, devops,
        data processing, scaling and more.
        You should know - this is not a closed list, if your topic doesn't seem to fit here
        and is of general interest, we want it!
      </p>
      <p>
        Unlike last year, we do not set out a closed list of tracks. This time we'd like to leave the
        topics (tracks) open and only after accepting the submissions we might devide up to tracks, but
        we will not rule out a single good talk just b/c it's not a natural fit to any predefined list, so don't
        worry so much about categorizing your submissions.
      </p>
    </div>

    <div class="col-lg-6">
      <h4>Full Featured talks</h4>
      <p>
        Full feature are frontal presentations b/w 30 - 50 minutes. They will be held in either the large room (200 ppl) or the small room (50 ppl) in two parallel sessions
      </p>
      <h4>Lightning Talks</h4>
      <p>
        Lightning are speedy 5 min talks. They will be presented in a series in which each presenter has exactly 20 slides, 15 sec per slide, slides are auto advanced and in total 5 min. No break b/w the sessions. It's fun, it's speedy, it's consice and it's breathtaking :-)
      </p>
      <h4>Open Space</h4>
      <p>
        Open space is a free form discussion in which folks gather around a tables or just in circles and discuss a topic of common interest.
        There's no need to submit anything before the conference, just think of topics that interest you and
        suggest them for voting at the conference itself.
        We will hold a few parallel tracks of open spaces in which each space will revolve around one chosen topic.
      </p>
      <h4>Open Source in Israel</h4>
      <p>
        We are especially interested in open source projects made in israel or created
        by Israelis. We will have a special stage for that.
      </p>
      <h4>Workshops</h4>
      <p>
        Workshops are hands-on excercises on tooling. Usually one tool is selected, for example a new and
        shiny web framework, java debugging tools, mobile OS dev etc, and a relatively small group of students take part.
        The workshops are by nature limited in space (20 ppl max) and are usually 2h long.
      </p>
    </div>
  </div>
</template>