<template name='layout'>
<div id="wrap">
  <div id='main' class="container bg">
      <div class="header">
        <div class='row'>
          <div class='clearfix'>
            <a href='{{pathFor "home"}}' class="logo pull-left" title='Reversim Summit 2014'></a>
            <a href='{{pathFor "sponsors"}}' class="sponsor-logo-title pull-left" title='Klarna'>
              <img class='img' src="{{staticImg '/img/klarna-56.png'}}">
            </a>
            <a href='{{pathFor "sponsors"}}' class="sponsor-logo-title pull-left" title='Outbrain'>
              <img class='img' src="{{staticImg '/img/outbrain-56.png'}}">
            </a>
            <a href='{{pathFor "sponsors"}}' class="sponsor-logo-title pull-left" title='Everything.me'>
              <img class='img' src="{{staticImg '/img/everything-56.png'}}">
            </a>
            <a href='{{pathFor "sponsors"}}' class="sponsor-logo-title pull-left" title='WorldMate'>
              <img class='img' src="{{staticImg '/img/worldmate-56.png'}}">
            </a>
          </div>
          <h3 class='text-muted no-underline'><a href='{{pathFor "home"}}'>Reversim Summit 2014</a></h3>
        </div>
        <div class='row'>{{yield 'nav'}}</div>
      </div>
      <div class='clearfix'></div>
      <div class='row'>
        <div class='col-md-12'>
          {{yield}}
        </div>
      </div>
  </div>
</div>
{{> footer}}
{{> setup}}
</template>

<template name='setup'></template>