<template name='nav'>
<ul class="nav nav-tabs pull-left">
  <li class="{{activeClass 'vote'}}">
    <a href="{{pathFor 'vote'}}"><strong>Vote</strong></a>
  </li>
  <li class="{{activeClass 'proposals'}}">
    <a href="{{pathFor 'proposals'}}">Proposals
      {{#if hasCount 'proposals'}}
        <small>({{proposals}})</small>
      {{/if}}
    </a>
  </li>
  <li class="{{activeClass 'speakers'}}">
    <a href="{{pathFor 'speakers'}}">Speakers
      {{#if hasCount 'speakers'}}
        <small>({{speakers}})</small>
      {{/if}}
    </a>
  </li>
  {{#if canSeeHidden}}
    <li class="{{activeClass 'users'}}">
      <a href="{{pathFor 'users'}}">Users <small>({{users}})</small></a>
    </li>
  {{/if}}
  <li class="{{activeClass 'wishes'}}">
    <a href="{{pathFor 'wishes'}}">
      Wish List
      {{#if hasCount 'wishes'}}
        <small>({{wishes}})</small>
      {{/if}}
    </a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void 0">
      More <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="{{activeClass 'about'}}"><a href="{{pathFor 'about'}}">About</a></li>
      <li class="{{activeClass 'info'}}"><a href="{{pathFor 'info'}}">Info</a></li>
      <li class="{{activeClass 'sponsors'}}"><a href="{{pathFor 'sponsors'}}">Sponsors</a></li>
      <li class="{{activeClass 'coc'}}"><a href="{{pathFor 'coc'}}">Code of Conduct</a></li>
      <li class="{{activeClass 's2013'}}"><a href="{{pathFor 's2013'}}">2013</a></li>
    </ul>
  </li>
  <li class="dropdown">{{loginButtons}}</li>
  {{#if isSpeaker}}
    {{#with user}}
      <li><a href='{{pathFor "speaker"}}'><strong>My Speaker Page</strong></a></li>
    {{/with}}
  {{/if}}
</ul>
</template>