<template name='propose'>
<h1>Propose</h1>
<h2>Timeline</h2>
<p>
  Call for paper ends: <strong>Jan 1</strong>. No kidding.
</p>
<h2>What are the Topics?</h2>
<p>
  To get a good sense of topics we're interested in you can check out the talks from
  <a href='http://summit2013.reversim.com/'>last year's conference</a>
  (or <a href='http://www.youtube.com/playlist?list=PLp33GadmS4eWYy52JKAvuaiovQA9i_qzU'>videos</a>).
</p>
<p>
  Please also refer to <a href='/wishes'>The Wishlist</a> where ppl had made awesome wishes, this may spark
  ideas that you may want to propose.
</p>
<p>
  This year we are especially interested in <strong>Made in Israel</strong>, which means
  projects written by Israelis, products by Israelis, products for Israelis etc.
  Anything that smells like Falafel.
</p>
<p>
  Unlike last year, this time we've decided that we will not define a list of tracks upfront,
  rather open up the submission to any topic.
  Later on we will choose the best talks and sort them by topic relevance,
  so that attendees would be able to focus on tracks and room.
</p>
<p>
  This means that we want submission on any topic that may interest developers, product folks, UX etc.
  Topics might include startups, mobile, web, devops, data processing, scaling, programming languages, api design, data science, gaming, computer vision and more....
  This is not a closed list, it's just to give ideas, if your topic doesn't seem to fit here and is of general interest, we want it!
</p>
<h2>Session Length</h2>
<p>
  We will publish a more detailed agenda later on but for now we can say that there will
  be several types of sessions for which you may submit your talk:
</p>
<ul>
  <li>Full length talk. Between <strong>30m</strong> to <strong>50m</strong> (we will publish the final number later)</li>
  <li>Lightning talk. <strong>5m</strong> talk with 20 slides that get auto advanced. 15s per slide. This is fun!</li>
  <li>Workshop. Hands-on workshops for smaller audience. Up to about 20 or 30 participants. The length depends on you , but it's usually around 2h</li>
</ul>
<p>When you submit your proposal please specify the type</p>
<h2>What Language?</h2>
<p>
  The default language is <strong>Hebrew</strong>. This is not an international event, it's a local event
  for local developers and by local developers. There are awesome developers here in Israel.
  Having said that, if you as a speaker would prefer to speak in English that's totally fine.
  If you are a non Israeli speaker and would like to present in this conference, you are
  most welcome, that's perfectly fine, you may do so in English,
  but just be aware that you'll find yourself bored to death in all other non-english sessions,
  so bare that in mind of you plan to travel specifically for this event
</p>

<h2>Submit Here</h2>
<p>You may submit multiple proposals</p>

{{#if loggedIn}}
  <form role="form" id='propose'>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class='form-group'>
      {{> proposalTypes}}
    </div>
    <div class="form-group">
      <label for="abstract">Abstract</label>
      <textarea class="form-control" rows="3" id='abstract' placeholder='Enter abstract (markup ok, no headings)'></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class='container clearfix' style='margin-top: 20px;'>
    <div class='row'>
      <div class='col-md-6'>
        {{#if hasBio}}
          <div class="alert alert-success">Good your bio is ok (but you can still edit it below)</div>
        {{else}}
          <div class="alert alert-danger">Please also add a bio right here</div>
        {{/if}}
        {{#with speaker}}
          {{> speaker}}
        {{/with}}
      </div>
    </div>
  </div>

{{else}}
  <p class='lead'>Please <a href='javascript:void(0)' class='sign-in'>sign in</a></p>
{{/if}}
</template>