<template name='proposals'>
<h1>Proposals</h1>
<table class='table'>
  <thead>
    <th></th>
    <th>Title</th>
    <th>Abstract</th>
    <th></th>
  </thead>
  <tbody>
    {{#each proposals}}
      <tr>
        <td>
          <img src='{{photo user}}' class='img-thumbnail img-thumbnail-40' data-toggle="tooltip" title="{{user.name}}"/>
        </td>
        <td>
          <a href='{{pathFor "proposal" id=id title=title}}'>{{title}}</a>
        </td>
        <td>
          {{{marked abstract}}}
        </td>
        <td class='actions'>
          <a class='share-twitter no-underline' href="{{twitterShareProposalUrl .}}" target="_blank" data-toggle="tooltip" title='Share'>
            <i class='icon-twitter'></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>