<template name='proposals'>
<div class="row">
  <div class="col-lg-12">
    <h1>Proposals (pending)</h1>
    {{#if canSeeNumLoaded}}
      <span class='pull-right label label-info'>Loaded: {{numLoaded}}</span>
    {{/if}}
    {{#each proposals}}
    <div class="media col-lg-5 proposal-item">
      {{#each speakers .}}
        <a class="pull-left" href="{{pathFor 'speaker'}}">
          <img class="media-object about-img img-thumbnail img-thumbnail-120" src="{{photo .}}" alt="{{name}}" title="{{name}}" data-toggle='tooltip' data-placement='right'>
        </a>
      {{/each}}
      <div class="media-body">
        <div class="media-heading">
          <a class='share-twitter no-underline pull-right' href="{{twitterShareProposalUrl .}}" target="_blank" data-toggle="tooltip" title='Share' data-placement='left'>
            <i class='icon-twitter'></i>
          </a>
          {{> voteWidget}}
          <h4>
            <a href='{{pathFor "proposal"}}'>{{title}}</a>
          </h4>
          <a class='label label-{{type}}' href='{{filterByTypeUrl}}'>{{typeName}}</a>
          {{> proposalTagsDisplay}}
        </div>
        {{{marked abstract}}}
        {{#if canTag}}
          {{> proposalTags}}
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{#if canSeeNumLoaded}}
  <span class='pull-right label label-info'>Loaded: {{numLoaded}}</span>
{{/if}}
{{#if hasMore}}
  <button class='btn btn-default btn-lg' id='load-more'>
    Load More
  </button>
{{/if}}
</template>