<template name='proposal'>
<h2>
  <span class='pre-header'>Title:</span>
  {{#if editMode}}
    <input value='{{proposal.title}}' class="edit-inline form-control" id='title-{{proposal._id}}'/>
  {{else}}
    {{proposal.title}}
  {{/if}}
</h2>
<h2><span class='pre-header'>Abstract:</span></h2>
{{#if editMode}}
  <textarea class="edit-inline form-control" rows="3" id='abstract-{{proposal._id}}'>{{proposal.abstract}}</textarea>
{{else}}
  <div class='pull-right'><span class='label label-info'>Status: {{proposal.status}}</span></div>
  <p class='lead'>{{{marked proposal.abstract}}}</p>
{{/if}}

<img src='{{photo proposal.owner}}' class='img-thumbnail img-thumbnail-40' data-toggle="tooltip" title="{{userName proposal.owner}} created"/>
<hr/>
<div class='actions-single'>
  {{#if owns proposal}}
    {{#if editMode}}
      <a href='javascript:void(0)' class='save no-underline' data-toggle="tooltip" title='Save'>
        <i class='icon-save icon-2x'></i>
      </a>
    {{/if}}
    <a href='javascript:void(0)' class='delete no-underline' data-toggle="tooltip" title='Delete'>
      <i class='icon-trash icon-2x'></i>
    </a>
    {{#if editMode}}
      <a href='javascript:void(0)' class='edit no-underline' data-toggle="tooltip" title='Undo Edits'>
        <i class='icon-undo icon-2x'></i>
      </a>
    {{else}}
      <a href='javascript:void(0)' class='edit no-underline' data-toggle="tooltip" title='Edit'>
        <i class='icon-edit icon-2x'></i>
      </a>
    {{/if}}
  {{/if}}
  <a class='share-twitter no-underline' href="{{twitterShareProposalUrl proposal}}" target="_blank">
    <i class='icon-twitter icon-2x'></i>
  </a>
</div>
</template>