<template name='proposal'>
<h2>
  {{#with proposal}}
    {{> voteWidget}}
  {{/with}}
  <span class='pre-header'>Title:</span>
  {{#if editMode}}
    <input value='{{proposal.title}}' class="edit-inline form-control" id='title-{{proposal.id}}'/>
  {{else}}
    {{proposal.title}}
  {{/if}}
</h2>

{{#if editMode}}
  {{#with proposal}}
    {{> proposalTypes}}
  {{/with}}
{{else}}
  <h2><span class='pre-header'>Type:</span> {{proposal.typeName}}</h2>
{{/if}}
<h2><span class='pre-header'>Tags:</span>
  {{#each proposal.tags}}
    <span class='label label-success label-tag'>{{.}}</</span>
  {{/each}}
</h2>

<h2><span class='pre-header'>Abstract:</span></h2>
{{#if editMode}}
  <textarea class="edit-inline form-control" rows="3" id='abstract-{{proposal.id}}'>{{proposal.abstract}}</textarea>
{{else}}
  <div class='pull-right'><span class='label label-primary'>Status: {{proposal.status}}</span></div>
  <p class='lead'>{{{marked proposal.abstract}}}</p>
{{/if}}

{{#each speakers}}
  <a href='{{pathFor "speaker"}}'>
    <img src='{{photo .}}' class='img-thumbnail img-thumbnail-40' data-toggle="tooltip" title="{{name}}"/>
  </a>
{{/each}}
{{#if isAdmin}}
  {{#if editMode}}
    <div>
      <label for='speakers'>Speakers (Be careful. type user IDs of additional speakers. Comma seperated):</label>
      <input id='speakers' value='{{speakerIds}},' placeholder='speakers' class="edit-inline form-control"/>
    </div>
  {{/if}}
{{/if}}
<hr/>
<div class='actions-single'>
  {{#if canEdit}}
    {{#if editMode}}
      <a href='javascript:void(0)' class='save no-underline' data-toggle="tooltip" title='Save'>
        <i class='fa fa-save fa-2x'></i>
      </a>
    {{/if}}
    <a href='javascript:void(0)' class='delete no-underline' data-toggle="tooltip" title='Delete'>
      <i class='fa fa-trash-o fa-2x'></i>
    </a>
    {{#if editMode}}
      <a href='javascript:void(0)' class='edit no-underline' data-toggle="tooltip" title='Undo Edits'>
        <i class='fa fa-undo fa-2x'></i>
      </a>
    {{else}}
      <a href='javascript:void(0)' class='edit no-underline' data-toggle="tooltip" title='Edit'>
        <i class='fa fa-edit fa-2x'></i>
      </a>
    {{/if}}
  {{/if}}
  <a class='share-twitter no-underline' href="{{twitterShareProposalUrl proposal}}" target="_blank">
    <i class='fa fa-twitter fa-2x'></i>
  </a>
</div>
</template>