<template name='register'>
<h1>Registration</h1>
<p class='lead'>Registration is open!</p>
<p>
  First, you should <a href='/agenda' class="btn btn-success btn-xs">check out the agenda page</a>.
  See what you like and decide whether you'd like to register to Day 1, Day 2 or both.
</p>
<p>
  <strong>Registration is per day</strong>. You may register to Day 1, you may register to Day 2, and you
may register to both (no problem at all). But please - only register if you plan to show up.
Be kind to your fellows and if anything changes, unregister to let those on the waitlist enjoy.
</p>
<p>
  To register first open an account on meetup.com and then register to
  <a href='http://www.meetup.com/reversim-summit/events/161595852/' class="btn btn-success btn-xs" target='meetup'>Day 1</a>,
  and/or
  <a href='http://www.meetup.com/reversim-summit/events/161596072/' class="btn btn-success btn-xs" target='meetup'>Day 2</a>
</p>

</template>