<template name='register'>
<h1>Registration</h1>
<p class='lead'>Registration is open!</p>
<div class="panel panel-success">
  <div class="panel-heading">Check out the agenda first</div>
  <div class="panel-body">
    First, you should <a href='/agenda' class="btn btn-success btn-xs">check out the agenda page</a>.
    See what you like and decide whether you'd like to register to Day 1, Day 2 or both.
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">Registration is per day</div>
  <div class="panel-body">
    <strong>Registration is per day</strong>. You may register to Day 1, you may register to Day 2, and you
  may register to both (no problem at all, you are very welcome). But please - only register if you plan to show up.
  Be kind to your fellows and if anything changes, unregister to let those on the waitlist enjoy.
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">Register here</div>
  <div class="panel-body">
    To register first open an account on meetup.com and then register
    <ul>
      <li>
        <a href='http://www.meetup.com/reversim-summit/events/161595852/' class="btn btn-success btn-xs" target='meetup'>Day 1</a>
      </li>
      <li>
        and/or
        <a href='http://www.meetup.com/reversim-summit/events/161596072/' class="btn btn-success btn-xs" target='meetup'>Day 2</a>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">Shoud you register?</div>
  <div class="panel-body">
    Of course you should - but only if you plan to show up to the entire day. Please do not waste a ticket
    if you don't plan to show up. <strong>Be kind</strong>.
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">Be kind</div>
  <div class="panel-body">
    Be kind to your fellow community members. If you'd registered and something changed, make sure you
    unregister to make place for others. Do not register unless you plan to show up for the whole day
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">Get on the waiting list</div>
  <div class="panel-body">
    Even if you find yourself on the waiting list - do not despair. Get on the waiting list, we may be able
    to expand here and there and some ppl might unregister in the future so you could get in.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">I am a speaker. Should I register?</div>
  <div class="panel-body">
    Yes, you should - if you plan to show up for the entire day.
  </div>
</div>

</template>