<template name='s2013'>
<div>
  {{#constant}}
  <h1>Reversim Summit 2013 (Previous Event)</h1>
  <p class="lead">
    Website: <a href='http://summit2013.reversim.com/'>http://summit2013.reversim.com/</a>
  <p>
  <h2>Videos</h2>
  <iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PLp33GadmS4eWYy52JKAvuaiovQA9i_qzU" frameborder="0" allowfullscreen></iframe>
  <h2>Photos</h2>
  <p class="lead">
    <a href='https://plus.google.com/photos/110263768883275184471/albums/5848599958085167937?banner=pwa'>By Alona</a>, <a href='http://www.meetup.com/reversim-summit/photos/all_photos/?photoAlbumId=13247232'>On meetup.com</a>
  <p>
  {{/constant}}
</div>
</template>