<template name='speakers'>
<h1>Our awesome speakers are (pending):</h1>
{{#each speakers}}
  {{#if shouldDisplay .}}
    <div class="media col-lg-6 about-person">
      <a href='{{pathFor "speaker" id=id name=name}}' class='pull-left'>
        <img src='{{photo .}}' class='about-img img-thumbnail img-thumbnail-120' data-toggle="tooltip" title="{{name}}"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href='{{pathFor "speaker" id=id name=name}}'>{{name}}</a>
        </h4>
        {{{marked bio}}}
        <p>
          <a href='{{pathFor "speaker" id=id name=name}}'>{{proposalCountStr .}}</a>
        </p>
      </div>
    </div>
  {{/if}}
{{/each}}
</template>