<template name='speaker'>
<div class='about-speaker'>
  {{#if canSeeEmail}}
    {{#if speaker.email}}
      <div class='pull-right'>
        <strong><a href='mailto:{{speaker.email}}'>{{speaker.email}}</a></strong> <small class='mute'>(email visible only to you and to moderators)</small>
      </div>
    {{/if}}
  {{/if}}

  {{#if editMode}}
    <ul class='pick-image'>
      <li>
        <img src='{{photoFromService speaker}}' class='about-img img-thumbnail img-thumbnail-120 pull-left' title="{{speaker.name}}"/>
        {{#unless uploadedImage}}
          <div>Use this image</div>
        {{/unless}}
      </li>
      <li>
        <div class='upload-image'>
          {{#if uploadedImage}}
            <button class='btn btn-danger btn-xs' id='remove-image'>Remove</button>
            <img src='{{uploadedImage}}' class='about-img img-thumbnail img-thumbnail-120 pull-left' title="{{speaker.name}}"/>
            <div>Use this image</div>
          {{else}}
            <div>Or upload another image</div>
            <div><strong>For best resolution: 120x120px</strong></div>
            <button class='btn btn-primary' id='upload-image'>Upload Image</button>
          {{/if}}
        </div>
      </li>
    </ul>
  {{else}}
    <img src='{{photo speaker}}' class='about-img img-thumbnail img-thumbnail-120 pull-left' title="{{speaker.name}}"/>
  {{/if}}

  {{#if editMode}}
    <input value='{{speaker.name}}' class="form-control" id='name'/>
  {{else}}
    <h4 class='no-break'>{{speaker.name}}</h4>
  {{/if}}


  {{#if editMode}}
    <label for='bio'>Bio:</label>
    <textarea class="form-control" rows="3" id='bio' placeholder='Enter a short bio. (Markdown ok, no headings)'>{{speaker.bio}}</textarea>
  {{else}}
    <p class='lead'>{{{marked speaker.bio}}}</p>
  {{/if}}
  {{#if editMode}}
    <label for='trackRecord'>Track Record:</label>
    <small>Your speaker track record will vastly improve your chances of getting accepted. The track record should include links to your presentations, most preferable videos of them (plus slides)</small>
    <textarea class="form-control" rows="3" id='trackRecord' placeholder='Enter your track record as a speaker (Markdown ok)'>{{speaker.trackRecord}}</textarea>
  {{else}}
    {{#if canSeeTrackRecord}}
      <h5>Track Record (only visible to you and moderators)</h5>
      <p class='lead'>{{{marked speaker.trackRecord}}}</p>
    {{/if}}
  {{/if}}
</div>
<hr/>
<div class='actions-single'>
  {{#if canEdit}}
    {{#if editMode}}
      <a href='javascript:void(0)' class='save no-underline' data-toggle="tooltip" title='Save'>
        <i class='fa fa-save fa-2x'></i>
      </a>
      <a href='javascript:void(0)' class='edit no-underline' data-toggle="tooltip" title='Undo Edits'>
        <i class='fa fa-undo fa-2x'></i>
      </a>
    {{else}}
      <a href='javascript:void(0)' class='edit no-underline' data-toggle="tooltip" title='Edit'>
        <i class='fa fa-edit fa-2x'></i>
      </a>
    {{/if}}
    <!--
    Wait until accepted
    <a class='share-twitter no-underline' href="{{twitterShareMeUrl wish}}" target="_blank">
      <i class='fa fa-twitter fa-2x'></i>
    </a>
    -->
  {{else}}
    <!-- Wait until accepted
    <a class='share-twitter no-underline' href="{{twitterShareNotMeUrl wish}}" target="_blank">
      <i class='fa fa-twitter fa-2x'></i>
    </a>
    -->
  {{/if}}
</div>
{{#if hasProposals}}
  <div>
    <h2>Proposals:</h2>
    {{#each proposals}}
      <dl>
        <dt>
          <a href='{{pathFor "proposal"}}'>{{title}}</a>
          <span class='label label-{{type}}'>{{typeName}}</span>
          {{#each tags}}
            <span class='label label-success label-tag'>{{.}}</</span>
          {{/each}}
          {{> voteWidget}}
        </dt>
        <dd>{{{marked abstract}}}</dd>
      </dl>
    {{/each}}
  </div>
{{/if}}
{{> filepicker}}
</template>