<template name='speakers'>
<h1>Our awesome speakers are:</h1>
{{#each speakers}}
  {{#if shouldDisplay .}}
    <div class="media col-lg-6 about-person">
      <a href='{{pathFor "speaker" id=id name=name}}' class='pull-left'>
        <img src='{{photo .}}' class='about-img img-thumbnail img-thumbnail-120' data-toggle="tooltip" title="{{name}}"/>
      </a>
      <div class="media-body">
        {{#if canSeeEmail .}}
          {{#if email}}
            <div class='pull-right'>
              <strong><a href='mailto:{{email}}'>{{email}}</a></strong>
            </div>
          {{/if}}
        {{/if}}
        <h4 class="media-heading">
          <a href='{{pathFor "speaker"}}'>{{name}}</a>
        </h4>

        {{{marked bio}}}
        <!--<h5>{{proposalCountStr .}}</h5>-->
        <dl>
          {{#each proposals}}
            <dt>
              <a href='{{pathFor "proposal"}}'>{{title}}</a>
              <span class='label label-{{type}}'>{{typeName}}</span>
              {{#each tags}}
                <span class='label label-success label-tag'>{{.}}</</span>
              {{/each}}
              <span class='label label-primary'>Status: {{status}}</span>
              {{> voteWidget}}
            </dt>
          {{/each}}
        </dl>
      </div>
    </div>
  {{/if}}
{{/each}}
</template>