<template name='sponsors'>
  <h1>Thank you, our sponsors</h1>
  {{#each sponsors}}
    <div class="media col-lg-11 sponsor-item">
      <img class="media-object about-img img-thumbnail img-thumbnail-190" src="{{logo}}" alt="{{name}}" title="{{name}}" data-toggle='tooltip' data-placement='right'/>
      <div class="media-body">
        <div class="media-heading">
          <h4>{{name}}</h4>
        </div>
        <div class='lead'>
          {{{marked description}}}
        </div>
        <p class='lead rtl'>
          {{descriptionHeb}}
        </p>
        {{{marked more}}}
      </div>
    </div>
  {{/each}}
</template>