<head>
  <title>Reversim Summit 2014</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class='pull-right'>
      {{loginButtons}}
    </div>
    <div class="header">
<!--         <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
-->        <h3 class="text-muted">Reversim Summit 2014</h3>
    </div>

    <div class="jumbotron">
      <h1>Save the date</h1>
      <p class="lead">Feb 24, 25 2014</p>
      <!-- <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p> -->
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Hold on</h4>
        <p>We're still woking on it</p>
      </div>

      <div class="col-lg-6">
        <h4>Thanks</h4>
        <p>And thanks for your interest!</p>

      </div>
    </div>

    <div class="footer">
      <p>&copy; reversim 2013</p>
    </div>

  </div> <!-- /container -->
</body>
