<template name='users'>
{{#if allowed}}
  <h2>Registred Users</h2>
  <table class='table'>
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>
            <img src='{{photo .}}' class='img-thumbnail img-thumbnail-40'/>
          </td>
          <td>
            <a href='{{pathFor "user" id=id}}'>
              {{name}}
            </a>
            <div>
              {{#if me .}}
                That's me!
              {{/if}}
            </div>
          </td>
          <td>
            <fieldset {{disabledStr}}>
              <div class="checkbox">
                <label>
                  <input type="checkbox" {{adminCheckedStr .}} name='admin'> Admin
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" {{moderatorCheckedStr .}} name='moderator'> Moderator
                </label>
              </div>
            </fieldset>
          </td>
          <td>
            {{#if isAdmin}}
              <a href='javascript:void(0)' class='delete no-underline' data-toggle="tooltip" title='Delete'>
                <i class='icon-trash'></i>
              </a>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
</template>