<template name='venue'>
  <div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8'>
      <h1><span style='color: #99aaaa'>Venue:</span> Google Campus TLV</h1>
      <p>
        This year, like last year, we are hosted by the spacious <a ref='http://www.campustelaviv.com/'>Google Campus TLV.</a>
      </p>
      <h2>Register to Google's Campus TLV web site</h2>
      <p>
        Google requests all guests to be registered to its website. So please <a href='http://www.campustelaviv.com/'>register here</a> (you will also need to register to the event itself on meetup.com)
      </p>
      <h2>Getting There</h2>
      <p>
        Address: <a href='https://maps.google.com/?q=Yigal%20Alon%2098,%20Tel%20Aviv-Yafo,%20Israel'>98 YIGAL ALON ST. TEL AVIV FLOOR 26TH</a>
      </p>
      <img src="/img/electra.png" title="Electra Building" class="pull-right img-thumbnail">
      <p>The building is called Electra Building and it looks like this, to the right</p>
      <p>Walking from the train station is about 12 minutes and 900 meters (see map)</p>
      <iframe style="margin:20px; height: 300px" class="pull-right img-thumbnail" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=HaShalom,+Tel+Aviv,+Israel&amp;daddr=Yigal+Alon+98,+Tel+Aviv-Yafo,+Israel&amp;hl=en&amp;geocode=FaFn6QEdweYSAimNfmAfmUsdFTEtID5ymBVZ1Q%3BFetZ6QEdU-kSAilJlHwEn0sdFTEj8vMthSKVKw&amp;aq=1&amp;oq=hashalom&amp;sll=32.072266,34.793315&amp;sspn=0.01391,0.026135&amp;dirflg=w&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=32.072138,34.792929&amp;spn=0.005455,0.006437&amp;z=16&amp;output=embed"></iframe>
      <div class='clearfix'></div>
      <h2>Parking</h2>
      <p>
        We're sorry, but we cannot provide free parking. There's plenty of public transportation and it's pretty close to Azrieli Center so you could either take the train and walk or even park in Azrieli and walk. There's some limited street parking and parking lots for early birds but they all cost money. There is also parking for the guests of Electra building on HaSolelim st, but it's pricy
      </p>
      <h2>How to enter the buliding</h2>
      <p>
        As you enter the reception at the ground floor, let them know you're headed to Google (no need to mention the conference - they won't know about it). They will provide you with an entry magnetic card, so keep it. They might also ask you to hand an ID card (although the folks from google tells us that for google they don't require IDs). Then head over to <strong>floor 26th</strong>.
      </p>
    </div>
  </div>
</template>