<template name='vote'>
<h1>Voting is closed. Thank you!</h1>
{{#if isAdmin}}
  <p>Unique voters: <strong>{{votersCount}}</strong></p>
  <p>Average votes per voters: <strong>{{votersAverage}}</strong></p>
  <p>Top voters:
    <dl>
    {{#each topVoters}}
      <dd><a href='/user/{{voter}}'>{{voter}} {{name}}</a> - {{votes}}</dd>
    {{/each}}
    </dl>
  </p>
  <p>Total votes: <strong>{{totalVotes}}</strong></p>
{{/if}}
{{#if canSeeResults}}
  {{#each speakers}}
    {{#if shouldDisplay .}}
      <div class="media col-lg-12 about-person clearfix">
        <a href='{{pathFor "speaker" id=id name=name}}' class='pull-left'>
          <img src='{{photo .}}' class='about-img img-thumbnail img-thumbnail-120' data-toggle="tooltip" title="{{name}}"/>
        </a>
        <div class="media-body media-body-vote">
          <h4 class="media-heading">
            <a href='{{pathFor "speaker"}}'>{{name}}</a>
          </h4>
          <dl>
            {{#each proposals}}
              <dt>
                <a href='{{pathFor "proposal"}}'>{{title}}</a>
                {{#if canSeeResults}}
                  <span class='badge pull-right'>{{voteCount}}</span>
                {{/if}}
                {{#if isAdmin}}
                  <div class='pull-right'>
                    Status: {{status}}
                    <button class='btn btn-danger reject'>next time</button>
                    <button class='btn btn-success accept'>accept</button>
                  </div>
                {{/if}}
                {{> voteWidget}}
                <a class='label label-{{type}}' href='{{filterByTypeUrl}}'>{{typeName}}</a>
                {{#each tags}}
                  <a class='label label-success label-tag' href='{{filterByTagUrl}}'>{{.}}</span>
                {{/each}}
              </dt>
            {{/each}}
          </dl>
        </div>
      </div>
    {{/if}}
  {{/each}}
{{/if}}
</template>