<template name='weCanHelp'>
{{#if canSee}}
  <button type="button" data-toggle="modal" data-target="#we-can-help" class='btn btn-default tooltiped' title="Go on, click me! You won't be sorry!">We Can Help!</button>
  {{#with speaker}}
    <div class="modal fade" id="we-can-help" tabindex="-1" role="dialog" aria-labelledby="we-can-help-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id='we-can-help-label' class="modal-title">We can help you put together a proposal</h4>
          </div>
          <div class="modal-body">
            <p>
              Please send us a few lines obout what you'd like to speak about and we will
              get back to you and work on this together. Hebrew or english are fine.
            </p>
            <div class="form-group">
              <label for="name">Name:</label>
              <input class="form-control" id="wch-name" placeholder="Your name here..." value='{{name}}'>
            </div>
            <div class="form-group">
              <label for="name">Email:</label>
              <input class="form-control" id="wch-email" type='email' placeholder="Or else, how can we contact you?">
            </div>
            <div class="form-group">
              <label for="abstract">What did you have in mind?</label>
              <textarea class="form-control" rows="3" id='wch-mind' placeholder='Tell us informally - what did you have in mind?'></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='we-can-help-send'>Send Request</button>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
{{/if}}
</template>
