<template name='wish'>
<h2>Make a wish: What would you like to see in the conference?</h2>
<p>
  Suggest topics for talks, for example
  <ul>
    <li>I'd like to see something about twitter's summingbird</li>
    <li>It would be cool if someone had a talk about 5 whys</li>
    <li>I'm interested in a panel about developer retention - how do you keep the good folks in?</li>
  </ul>
</p>
<p>We can't promise anything but we hope someone will pick up your topic and do something with it...</p>
{{#if loggedIn}}
  <form role="form" id='suggest'>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" placeholder="Enter title (optional)">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="3" id='description' placeholder='Enter description (optional)'></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{{else}}
  <p class='lead'>Please {{loginButtons}}</p>
{{/if}}

<h2>Vote here:</h2>
<table class='table'>
  <thead>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </thead>
  <tbody>
    {{#each wishes}}
      <tr>
        <td><img src='{{photo owner}}' class='img-thumbnail img-thumbnail-40'/></td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td class='actions'>
          {{#if owns .}}
            <button class='btn btn-danger delete'>Delete</button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>