<template name='wishes'>
<h2>What would you like to see in the conference?</h2>
<p>
  Thank you for making wishes. Your input was very helpul! See you threre!
</p>
<table class='table'>
  <thead>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th style='width:120px'></th>
    <th></th>
  </thead>
  <tbody>
    {{#each wishes}}
      <tr>
        <td>
          <img src='{{photo owner}}' class='img-thumbnail img-thumbnail-40' data-toggle="tooltip" title="{{userName owner}} created"/>
        </td>
        <td>
          <a href='{{pathWish id=_id title=title}}'>{{title}}</a>
        </td>
        <td>
          {{{marked description}}}
          {{#if hasComments .}}
            <div class='pull-right'>
              <a href='{{pathWish id=_id title=title}}'>{{commentsText .}}</a>
            </div>
          {{/if}}
        </td>
        <td>
          {{#each positiveVotesShort .}}
            <img src='{{photoSmall .}}' class='img-thumbnail img-thumbnail-20' data-toggle="tooltip" title="{{userName .}} voted"/>
          {{/each}}
          {{#if positiveVotesHasMore .}}
            <span class='no-break'>
              <a href='{{pathWish id=_id title=title}}'>{{positiveVotesMore .}} more</a>
            </span>
          {{/if}}
        </td>
        <td class='actions'>
          {{#unless owns .}}
            <a href='javascript:void(0)' class='vote-up no-underline' data-voted='{{userVotedWishStr .}}' data-toggle="tooltip" title='{{wishVoteTooltip .}}'>
              <i class='icon-thumbs-up icon-1x'></i>
            </a>
          {{/unless}}
          <a class='share-twitter no-underline' href="{{twitterShareWishUrl .}}" target="_blank" data-toggle="tooltip" title='Share'>
            <i class='icon-twitter icon-1x'></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>